### Analysis of inner joined data (trees, heat, traffic) - n_clusters: 2

In [20]:
import pandas as pd

In [21]:
mergedf = pd.read_csv("merged_data.csv")

In [22]:
mergedf.shape

(290222, 40)

In [23]:
ser = mergedf.nunique()
ser.sort_values(ascending=False)[:10]

tree_id       290222
y_sp          289850
x_sp          289638
longitude     288690
latitude      288004
address       185080
block_id       46089
boro_ct         1024
created_at       449
zipcode          136
dtype: int64

In [25]:
nulls = mergedf.isnull().sum()
len(nulls.sort_values(ascending=False))

40

### Analysis of outer joined data (trees, heat, traffic) - n_clusters: 2

In [10]:
import pandas as pd

In [11]:
mergedf = pd.read_csv("merged_data.csv")

In [12]:
mergedf.shape

(683906, 40)

In [15]:
ser = mergedf.nunique()
ser.sort_values(ascending=False)[:10]

tree_id       683788
y_sp          682632
x_sp          681630
longitude     677101
latitude      676080
address       408701
block_id      101390
boro_ct         2152
created_at       483
Geography        197
dtype: int64

In [19]:
nulls = mergedf.isnull().sum()
len(nulls.sort_values(ascending=False))

40

In [27]:
mergedf['Geography'].value_counts()

Geography
Forest Hills         7701
South Ozone Park     7321
St. Albans           7239
Bay Ridge            7026
Jackson Heights      6863
                     ...
Crotona Park East    1546
Prospect Heights     1535
Brighton Beach       1281
Gramercy             1172
Parkchester           790
Name: count, Length: 79, dtype: int64

### Analysis

In [1]:
import pandas as pd

In [8]:
heatdf = pd.read_csv("datasets/Heat_vulnerability/NYC_Heat_vulnerability_index.csv")
treedf = pd.read_csv("datasets/Tree_Census/new_york_tree_census_2015.csv")
trafficdf = pd.read_csv("datasets/Traffic_Road/Automated_Traffic_Volume_Counts_20241029.csv")

In [9]:
print(heatdf.shape)
print(treedf.shape)
print(trafficdf.shape)

(197, 6)
(683788, 41)
(1712605, 14)
(109, 7)
(49, 5)

In [3]:
heatdf.head()

   TimePeriod  GeoType  GeoID  GeoRank               Geography  Score out of 5
0        2023  NTA2020  50101        9  Mott Haven-Port Morris               5
1        2023  NTA2020  50102        9                 Melrose               5
2        2023  NTA2020  50201        9             Hunts Point               5
3        2023  NTA2020  50202        9                Longwood               5
4        2023  NTA2020  50301        9              Morrisania               5

In [4]:
heatdf.describe()

       TimePeriod          GeoID  GeoRank  Score out of 5
count       197.0     197.000000    197.0      197.000000
mean       2023.0  547297.847716      9.0        3.030457
std           0.0  277804.486294      0.0        1.406648
min        2023.0   50101.000000      9.0        1.000000
25%        2023.0  470501.000000      9.0        2.000000
50%        2023.0  610401.000000      9.0        3.000000
75%        2023.0  810707.000000      9.0        4.000000
max        2023.0  850305.000000      9.0        5.000000

In [5]:
heatdf.nunique()

TimePeriod          1
GeoType             1
GeoID             197
GeoRank             1
Geography         197
Score out of 5      5
dtype: int64

In [6]:
treedf.head()

,tree_id,block_id,created_at,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,spc_common,...,st_assem,st_senate,nta,nta_name,boro_ct,state,latitude,longitude,x_sp,y_sp
0,606945,305778,2016-06-28,10,0,OnCurb,Alive,Good,Fraxinus pennsylvanica,green ash,...,25,14,QN37,Kew Gardens Hills,4125700,New York,40.724339,-73.805180,1.038250e+06,203232.9417
1,160321,341273,2015-08-19,9,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,...,34,13,QN28,Jackson Heights,4030902,New York,40.756626,-73.894167,1.013571e+06,214953.6472
2,541347,325281,2015-12-30,7,0,OnCurb,Alive,Good,Pyrus calleryana,Callery pear,...,32,10,QN76,Baisley Park,4028800,New York,40.679777,-73.788463,1.042923e+06,187008.2671
3,613930,203822,2016-07-05,10,0,OnCurb,Alive,Good,Pyrus calleryana,Callery pear,...,46,22,BK31,Bay Ridge,3005000,New York,40.622743,-74.037543,9.738279e+05,166160.5847
4,18353,338911,2015-06-13,4,0,OnCurb,Alive,Good,Prunus virginiana,'Schubert' chokecherry,...,31,10,QN12,Hammels-Arverne-Edgemere,4095400,New York,40.596514,-73.797622,1.040452e+06,156667.5017

In [7]:
treedf['nta_name'].nunique()

188

In [8]:
treedf.shape

(683788, 41)

In [9]:
# Compare if the 'nta_name' and 'Geography' columns are same or not
ntas = list(set(treedf['nta_name']))
geos = list(heatdf['Geography'])

In [10]:
ntas.sort()
geos.sort()

In [11]:
print(ntas[:10])
print(geos[:10])

['Allerton-Pelham Gardens', "Annadale-Huguenot-Prince's Bay-Eltingville", 'Arden Heights', 'Astoria', 'Auburndale', 'Baisley Park', 'Bath Beach', 'Battery Park City-Lower Manhattan', 'Bay Ridge', 'Bayside-Bayside Hills']
['Allerton', "Annadale-Huguenot-Prince's Bay-Woodrow", 'Arden Heights-Rossville', 'Astoria (Central)', 'Astoria (East)-Woodside (North)', 'Astoria (North)-Ditmars-Steinway', 'Auburndale', 'Baisley Park', 'Bath Beach', 'Bay Ridge']

In [12]:
# Calculating how similar the columns are based on Syntactic similarity and not semantic, because context of the area 
# name is not really that important.

def list_similarity(list1, list2):
    set1 = set(list1)
    set2 = set(list2)
    
    intersection = len(set1.intersection(set2))
    union = len(set1.union(set2))
    
    jaccard_similarity = intersection / union if union != 0 else 0
    
    return jaccard_similarity

similarity = list_similarity(ntas, geos)
print(f"The overall similarity between the two lists is: {similarity:.2f}")

The overall similarity between the two lists is: 0.26

### Soil and trees

Our initial experiements consisted of another dataset. The Soil temperature dataset also compared. However, there are no data points that correspond to the geographical boundaries of NYC.

In [1]:
import pandas as pd

In [2]:
soildf = pd.read_csv("datasets/Soil_Temp_Archive/2015_soil_temp.csv")
treedf = pd.read_csv("datasets/Tree_Census/new_york_tree_census_2015.csv")

In [3]:
soildf.head()

,nws_id,physicalelement,datetime(GMT),sitename,wfo,latitude,longitude,soiltemp(F),depth(in),afos_id,extremum
0,ABES2,TB,1/1/2015 14:00,Aberdeen 4NW,ABR,45.512500,-98.529167,21.0,2,KABRRR3ABR,Z
1,ALNM4,TB,1/1/2015 14:00,Albion 1NW /MAWN/,GRR,42.261944,-84.774167,33.0,2,KGRRRR2GRR,Z
2,BELM4,TB,1/1/2015 15:00,Belding 3WNW - MSU Ag Mesonet,GRR,43.110000,-85.310000,32.0,2,KMSRLCOMSR,Z
3,CERM4,TB,1/1/2015 15:00,Ceresco 6SSW - Ag Mesonet,GRR,42.220000,-85.150000,31.0,2,KMSRLCOMSR,Z
4,CHTM4,TB,1/1/2015 14:00,Charlotte (MAWN),GRR,42.650833,-84.916111,31.0,2,KGRRRR2GRR,Z

In [5]:
soildf.describe()

            latitude      longitude    soiltemp(F)      depth(in)
count  156053.000000  156053.000000  156053.000000  156053.000000
mean       43.103751     -90.125043      49.893239      12.467559
std         2.374404       4.939204      14.572544      16.087994
min        36.766667    -103.737222       1.000000       2.000000
25%        41.934167     -93.526389      36.500000       2.000000
50%        43.023889     -89.243333      50.000000       4.000000
75%        44.641111     -85.959722      63.000000      20.000000
max        48.967500     -82.759800      99.100000      60.000000

In [6]:
nyc_soildf = soildf[(soildf['latitude'] >= 40.4774) & (soildf['latitude'] <= 40.9176) &
                   (soildf['longitude'] >= -74.2591) & (soildf['longitude'] <= -73.7004)]

In [7]:
nyc_soildf

Empty DataFrame
Columns: [nws_id, physicalelement, datetime(GMT), sitename, wfo, latitude, longitude, soiltemp(F), depth(in), afos_id, extremum]
Index: []

### Testing fuzzwuzzy

In [2]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

# Function to calculate similarity scores
def calculate_similarity_scores(string1, string2):
    simple_ratio = fuzz.ratio(string1, string2)
    partial_ratio = fuzz.partial_ratio(string1, string2)
    token_sort_ratio = fuzz.token_sort_ratio(string1, string2)
    token_set_ratio = fuzz.token_set_ratio(string1, string2)

    print(f"Simple Ratio: {simple_ratio}%")
    print(f"Partial Ratio: {partial_ratio}%")
    print(f"Token Sort Ratio: {token_sort_ratio}%")
    print(f"Token Set Ratio: {token_set_ratio}%")

# Function to find best matches
def find_best_matches(target, choices, limit=5):
    result = process.extractBests(target, choices, limit=limit)
    return result

# Example usage
if __name__ == "__main__":
    string1 = "Allerton-Pelham Gardens"
    string2 = "Allerton"

    # Calculate similarity scores
    print("Similarity Scores:")
    calculate_similarity_scores(string1, string2)

    # Find best matches
    choices = ["Allerton", "Pelham Gardens", "Other Location", "New York City"]
    print("\nBest Matches:")
    best_matches = find_best_matches(string1, choices)
    for match, score in best_matches:
        print(f"{match}: {score}%")

Similarity Scores:
Simple Ratio: 52%
Partial Ratio: 100%
Token Sort Ratio: 52%
Token Set Ratio: 100%

Best Matches:
Allerton: 90%
Pelham Gardens: 90%
Other Location: 37%
New York City: 28%